{% extends 'base.html.twig' %}

{% block title %}Paiement effectué{% endblock %}

{% block body %}
  <div {{ react_component('Stripe/Success', {'amountTotal': amountTotal }) }}></div>
{% endblock %}
